openapi: 3.0.0
info:
  title: Intear Token Indexer API
  version: 1.0.0
  description: Generated by Claude

servers:
  - url: https://prices.intear.tech

paths:
  /list-token-price:
    get:
      summary: List token prices with detailed information
      description: Retrieves a list of tokens with their prices, decimals, and symbols
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/TokenInfo'

  /prices:
    get:
      summary: Get token prices
      description: Retrieves a list of token prices with standard precision
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
                  format: double

  /super-precise:
    get:
      summary: Get token prices with high precision
      description: Retrieves a list of token prices with very high precision
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string

  /get-token-price:
    get:
      summary: Get price for a specific token
      description: Retrieves the price for a specified token
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_contract_id:
                    type: string
                  price:
                    type: string

  /price:
    get:
      summary: Get price as a number for a specific token
      description: Retrieves the price as a number for a specified token
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: number
                format: double

  /super-precise-price:
    get:
      summary: Get high-precision price as a string for a specific token
      description: Retrieves the high-precision price as a string for a specified token
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string

  /hardcoded/list-token-price:
    get:
      summary: List hardcoded token prices with detailed information
      description: Retrieves a list of tokens with their hardcoded prices, decimals, and symbols. Stablecoins may be rounded to 1 if close to 1.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/TokenInfo'

  /hardcoded/prices:
    get:
      summary: Get hardcoded token prices
      description: Retrieves a list of hardcoded token prices with standard precision. Stablecoins may be rounded to 1 if close to 1.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
                  format: double

  /hardcoded/super-precise:
    get:
      summary: Get hardcoded token prices with high precision
      description: Retrieves a list of hardcoded token prices with very high precision. Stablecoins may be rounded to 1 if close to 1.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string

  /hardcoded/get-token-price:
    get:
      summary: Get hardcoded price for a specific token
      description: Retrieves the hardcoded price for a specified token. Stablecoins may be rounded to 1 if close to 1.
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_contract_id:
                    type: string
                  price:
                    type: string

  /hardcoded/price:
    get:
      summary: Get hardcoded price as a number for a specific token
      description: Retrieves the hardcoded price as a number for a specified token. Stablecoins may be rounded to 1 if close to 1.
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: number
                format: double

  /hardcoded/super-precise-price:
    get:
      summary: Get hardcoded high-precision price as a string for a specific token
      description: Retrieves the hardcoded high-precision price as a string for a specified token. Stablecoins may be rounded to 1 if close to 1.
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string

  /tokens:
    get:
      summary: Get detailed information for all tokens
      description: Retrieves detailed information for all tokens, including prices, metadata, and supply information
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/TokenDetail'

  /token:
    get:
      summary: Get detailed information for a specific token
      description: Retrieves detailed information for a specific token, including prices, metadata, and supply information
      parameters:
        - name: token_id
          in: query
          required: true
          schema:
            type: string
          description: The identifier of the token to retrieve information for
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDetail'
        '404':
          description: Token not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Token not found"

  /token-search:
    get:
      summary: Search for tokens
      description: Search for tokens based on various criteria including name, ticker, slug, contract address, or social handles
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: The search query (full or partial token name, ticker, slug, contract address, social handles, or other information)
        - name: n
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 5
          description: The maximum number of results to return (default is 5)
        - name: rep
          in: query
          required: false
          schema:
            type: string
            enum: [Spam, Unknown, NotFake, Reputable]
          description: The minimum reputation of the results
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenDetail'

  /token-spam-list:
    get:
      summary: Get list of spam tokens
      description: Retrieves a list of token IDs for all tokens marked as spam
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["spam_token1.near", "spam_token2.near"]

  /token-unknown-or-better-list:
    get:
      summary: Get list of tokens with Unknown or better reputation
      description: Retrieves a list of token IDs for all tokens with a reputation of Unknown, NotFake, or Reputable
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["unknown_token.near", "notfake_token.near", "reputable_token.near"]

  /token-notfake-or-better-list:
    get:
      summary: Get list of tokens with NotFake or better reputation
      description: Retrieves a list of token IDs for all tokens with a reputation of NotFake or Reputable
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["notfake_token.near", "reputable_token.near"]

  /reputable-list:
    get:
      summary: Get list of reputable tokens
      description: Retrieves a list of token IDs for all tokens with a Reputable reputation
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["reputable_token1.near", "reputable_token2.near"]

  /tokens-unknown-or-better:
    get:
      summary: Get detailed information for tokens with Unknown or better reputation
      description: Retrieves detailed information for all tokens with a reputation of Unknown, NotFake, or Reputable
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenDetail'

  /tokens-notfake-or-better:
    get:
      summary: Get detailed information for tokens with NotFake or better reputation
      description: Retrieves detailed information for all tokens with a reputation of NotFake or Reputable
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenDetail'

  /tokens-reputable:
    get:
      summary: Get detailed information for reputable tokens
      description: Retrieves detailed information for all tokens with a Reputable reputation
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenDetail'

components:
  schemas:
    TokenInfo:
      type: object
      properties:
        decimal:
          type: integer
        price:
          type: string
        symbol:
          type: string
      required:
        - decimal
        - price
        - symbol

    TokenDetail:
      type: object
      properties:
        account_id:
          type: string
        price_usd_raw:
          type: string
        price_usd:
          type: string
        price_usd_hardcoded:
          type: string
        main_pool:
          type: string
        metadata:
          type: object
          properties:
            name:
              type: string
            symbol:
              type: string
            decimals:
              type: integer
        total_supply:
          type: string
        circulating_supply:
          type: string
        circulating_supply_excluding_team:
          type: string
        reputation:
          type: string
          enum: [Spam, Unknown, NotFake, Reputable]
        socials:
          type: object
          additionalProperties:
            type: string
        slug:
          type: array
          items:
            type: string
        deleted:
          type: boolean
      required:
        - account_id
        - price_usd_raw
        - price_usd
        - price_usd_hardcoded
        - main_pool
        - metadata
        - total_supply
        - circulating_supply
        - circulating_supply_excluding_team
        - reputation
        - socials
        - slug
        - deleted